<!doctype html>
<html>
  <head>
    <title>Foglalás</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  </head>
  <body class="success">
    <div class="container">
      <h1  class="foglalas">Sikeres foglalás!</h1>
      <p class="foglalas"><%= message %></p>
    </div>
  </body>
</html>
